// colors

$color-1: #2b334f; // Pickled Bluewood
$color-2: #2e5367; // San Juan
$color-3: #267481; // Lochinvar
$color-4: #fcb052; // Texas Rose
$color-5: #f06a59; // Burnt Sienna
$color-6: #ffffff; // White
$icons-background: #6f96ff;
$background-panels: #000c2c;

$background-theme-main: #fdfdfd;
$text-color-theme-main: rgb(29, 29, 29);
$button-accent: #98cdff;
$button-primary:#007bff;
$button-default:tint(shade(#007bff, 50%), 20%);
$button-accent-20: tint($button-accent, 20%);
$button-border: #30475c;
// fonts 

@import url('https://fonts.googleapis.com/css?family=Istok+Web|Noto+Sans+SC|Rubik&display=swap&subset=cyrillic');

$primary-font: 'Istok Web',
sans-serif;
$secondary-font: 'Noto Sans SC',
sans-serif;
$third-font: 'Rubik',
sans-serif;

$footer-height: 2.5em;
$flyn-width: 22em;
$navbar-height: 3.5em;
$map-zindex:1000;
$button-height: $footer-height;
$rounding-default: 7em;
$app-input-border-radius: 1em;