// colors

$color-1: #2b334f; // Pickled Bluewood
$color-2: #2e5367; // San Juan
$color-3: #267481; // Lochinvar
$color-4: #fcb052; // Texas Rose
$color-5: #f06a59; // Burnt Sienna
$color-6: #ffffff; // White
$icons-background: #6f96ff; 
$background-panels: #000c2c; 
    
// fonts 

$primary-font: 'Open Sans', sans-serif;

// header height 

$header-S: 50px;
$header-M: 70px;

// intro height

$intro-height-S: 360px;
$intro-height-M: 500px;
$intro-height-L: 680px;
$footer-height:  5em;
$section-min-height: 65vh;