.conditional-container {
    transition: 1s all ease;
    display: flex;
    animation: .6s fadeIn forwards;

    &.slideOut {
        animation: .6s fadeOut forwards;

        h2 {
            opacity: 0;
        }
    } 
}