@import "partials/variables";
@import "partials/mixins";
@import "~compass-mixins/lib/compass/_css3";

$rotate-right: 45deg;
$rotate-left: -$rotate-right;
$flyn-animation-dur: .7s;

.flyn {
  &.active {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }

  height: inherit;
  -webkit-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  transition: 0.4s ease;
  position: absolute;
  top: 0;
  padding-top: calc(#{$navbar-height} + 1em);
  width: $flyn-width;
  z-index: 950;
  padding-bottom: 1.5rem;
  -webkit-transform: translate(-100%);
  -ms-transform: translate(-100%);
  transform: translate(-100%);
  background-color: $background-theme-main;
}


#flyn_toggle.btn.btn-secondary {
  border: none;

  &:hover {
    background-color: $background-theme-main;
  }
}

.fx {
  span {
    background-color: #0ff;
    z-index: 10000;
  }

  position: absolute;
  right: -2em;
  top: 6em;
  height: 4em;
  width: 2em;
  background: $background-theme-main;
  padding: 0;
  // box-shadow:3px 0px 6px #dedede ;
  //@include box-shadow(0 1px 1px rgba(0, 0, 0, 0.5));
  border-radius: 0 0.4em 0.4em 0;

  &:focus {
    outline: none !important;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none !important;
  }


  span {

    &:after,
    &:before {
      content: "";
      @include transition($flyn-animation-dur * 0.5 all ease);
      position: absolute;
      width: 0.1em;
      height: 2em;
      top: 0.25em;
      border: 1px solid $button-accent;
      background-color: $button-accent;
      border-radius: 5px;
      @include transform(rotate($rotate-left))
    }
  }

  .fx1:after,
  .fx2:after {
    top: 1.6em;
    @include transform(rotate($rotate-right))
  }
}

.flyn.active {

  .fx1:after,
  .fx2:after,
  .fx1 span:after,
  .fx2 span:after {
    top: 1em;
    @include transform(rotate($rotate-right))
  }


  .fx1:before,
  .fx2:before,
  .fx1 span:before,
  .fx2 span:before {
    top: 1em;
    @include transform(rotate($rotate-left))
  }

  .fx:hover {

    .fx1:after,
    .fx2:after {
      top: 0.25em;
      @include transform(rotate($rotate-right))
    }

    .fx1:after {
      animation: slides $flyn-animation-dur linear infinite reverse;
    }

    .fx2:after {
      animation: slides $flyn-animation-dur linear infinite reverse 0.8s;
    }

    .fx1:before,
    .fx2:before {
      top: 1.6em;
      @include transform(rotate($rotate-left))
    }

    .fx1:before {
      animation: slides2 $flyn-animation-dur linear infinite reverse;
    }

    .fx2:before {
      animation: slides2 $flyn-animation-dur linear infinite reverse 0.8s;
    }
  }
}

.fx:hover {
  .fx1 {
    &:before {
      -webkit-animation: slides2 $flyn-animation-dur linear infinite;
      animation: slides2 $flyn-animation-dur linear infinite;
    }

    &:after {
      -webkit-animation: slides $flyn-animation-dur linear infinite 0.8s;
      animation: slides $flyn-animation-dur linear infinite 0.8s;
    }
  }

  .fx2 {
    &:before {
      -webkit-animation: slides2 $flyn-animation-dur linear infinite 0.8s;
      animation: slides2 $flyn-animation-dur linear infinite 0.8s;
    }

    &:after {
      -webkit-animation: slides $flyn-animation-dur linear infinite;
      animation: slides $flyn-animation-dur linear infinite;
    }
  }
}

.flyn_current_station {
  height: 15em;
  position: relative;
  opacity: 0;
  animation: fadeIn 0.8s linear forwards;
}


.cur_count_wrapper {
  width: 100%;
  position: relative;

  .cur_count {
    position: absolute;
    bottom: 2em;
    z-index: 1000;
    right: 1em;
    background-color: white;
    padding: 1em;
    border-radius: 5em;
    box-shadow: 0 0 0.3em black;
  }
}

.custom-select {
  @include border-radius($app-input-border-radius);

  label {
    text-align: center;
  }
}

.flyn {
  .input-group input {
    @include border-radius($app-input-border-radius);

    &:focus {
      outline: none;
      border-color: transparent;
      box-shadow: 0 0 0 0.1rem rgba(0, 123, 255, 0.25)
    }

    text-align: center;
  }

  .flyn-input-controls {
    > div,
    .top-group > div{
      margin-top: .4rem;
      margin-bottom: .4rem;
    }
    .top-group{
      margin-bottom: 0;
    }
  }

  .input-group-text {
    border-radius: $app-input-border-radius;

    input[type="checkbox"] {
      margin: .3rem;
      &:focus{
        outline: none;
        box-shadow: none;
      }
    }
  }
}