@import "partials/variables";
@import "~compass-mixins/lib/compass/_css3";

.footer {
    height: $footer-height;
    background-color: $background-theme-main;
    width: 25%;
    min-width: 14em;
    position: absolute;
    @include border-radius(3em 3em 0 0);
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    z-index: calc(#{$map-zindex} + 1);
    box-shadow: 0 0 4px 3px #d8d8d8;
}