@import "partials/variables";

.main_map {
  height: 100vh;
  // height: calc(100vh - #{$footer-height});
}
#mapid {
  height: inherit;
  .marker-cluster-small {
    background-color: hsla(91,60%,72%,.6)
  }

  .marker-cluster-small div {
    background-color: rgba(110,204,57,.6)
  }
  .marker-cluster-custom {
    background: #104fad;
    border: 3px solid #ededed;
    border-radius: 50%;
    color: #ededed;
    height: 40px;
    line-height: 37px;
    text-align: center;
    width: 40px;
  }

  .marker-cluster-medium {
    background-color: rgba(241,211,87,.6)
  }

  .marker-cluster-medium div {
    background-color: rgba(240,194,12,.6)
  }

  .marker-cluster-large {
    background-color: hsla(18,97%,72%,.6)
  }

  .marker-cluster-large div {
    background-color: rgba(241,128,23,.6)
  }

  .marker-cluster-small {
    background-color: #b5e28c
  }

  .marker-cluster-small div {
    background-color: #6ecc39
  }

  .marker-cluster-medium {
    background-color: #f1d357
  }

  .marker-cluster-medium div {
    background-color: #f0c20c
  }

  .marker-cluster-large {
    background-color: #fd9c73
  }

  .marker-cluster-large div {
    background-color: #f18017
  }

  .marker-active {
    filter:hue-rotate(270deg)
  }
  .marker-cluster {
    background-clip: padding-box;
    border-radius: 20px
  }

  .marker-cluster div {
    width: 30px;
    height: 30px;
    margin-left: 5px;
    margin-top: 5px;
    text-align: center;
    border-radius: 15px;
    font: 12px Helvetica Neue,Arial,Helvetica,sans-serif
  }

  .marker-cluster span {
    line-height: 30px
  }
  .XCustTooltip {
    background-color: transparent;
    box-shadow: transparent 0 0 0;
    border: transparent 1px;

    > div > div {
      background-color: white;
    }

    &:before {
      opacity: 0;
      transform: scale(2);
      transition: 0.2s linear forwards;
      animation: fadeIn 0.5s forwards;
    }
  }
}