.bottom-container {
    nav .nav-tabs {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }

    .nav .nav-item {
        border: 1px solid;
        margin-bottom: 0.4rem;
    }

    .tab-pane {
        min-height: 10em;
    }

    .navi {
        height: 100%;

        .nav-item {
            &.active {
                font-size: 1.04em;
                background-color: #fff;
                border: 2px solid #3a3eff;
            }

            border: 2px solid #d1d1ff;
            border-radius: 4px;

        }

        .tab-content {
            height: inherit;
            overflow: auto;
        }
    }
}