@import "partials/variables";
@import "~compass-mixins/lib/compass/_css3";

.navbar-main-top {
    position: absolute; 
    height: $navbar-height;
    background-color: $background-theme-main;
    color: $text-color-theme-main;
    border: 0 solid transparent;
    @include border-radius(0 0 2em 0);
    @include box-shadow(1px 1px 3px #dddddd);
    z-index: 10000;

    .navbar-brand {
        color: rgba(0, 0, 0, 0.9);
    }
}