@import "partials/variables";
@import "partials/mixins";

.sidebar {
    display: flex;

    .sidebar-asside {
        display: flex;
        flex-direction: column;
        z-index: 10000;

        .logo-container {
            width: auto;
            height: 5em;

            .logo-container-inner {
                background: url("../img/logo-draft.png");
                background-position: 20px 0px;
                background-size: cover; 
                background-repeat: no-repeat;
                width: 5em;
                height: inherit;
                position: absolute;
                transition: .7s ease;
                border-radius: 3em;
            }

            &:hover {
                .logo-container-inner {
                    width: 10.6em;
                    background-position: 0px;
                }
            }
        }
    }



    .sidebar-content {
        .sidebar-content-inner {
            // position: relative;
        }
    }
}