// MUST BE REWRITEN TO BEM
// CURRENTLY ALL STYLES ARE HERE
@import "partials/variables";


body {
  margin: 0;
  padding: 0;
  overflow-y: hidden;
  font-family: $third-font;
}

.scrollable {
  overflow-y: hidden;
}

button {
  outline: none !important;
}

.btn {
  border: none;

  .btn-default {
    background-color: $button-default;
  }
}

//Просто підсвіти її сірим як решту звичайних інпатів.
.disabledQueryInput {
  display: none;
}

.page-link {
  &:focus {
    box-shadow: none;
  }
}


.col-auto label {
  margin: 10px;
  text-align: left;
  justify-content: left;
}

.empt {
  margin: 2em;
  font-family: cursive;
  font-size: 1.5em;
}

.st_card {
  cursor: pointer;
}

.coloredSelectedMarker{
  color: #50de92;
  opacity: 0.9;
}

.coloredUnselectedMarker{
  color: #104fad;
  opacity: 0.9;
}
@import "animate.scss";
@import "typeahead.scss";
@import "map.scss";
@import "coutry-list.scss";
@import "weather-elements.scss";
@import "station.scss";
@import "nav-tabs.scss";
@import "sidebar";
@import "flyn.scss";
@import "flyout.scss";
@import "loader.scss";
@import "download-list.scss";
@import "keyframes.scss";
@import "daterangepicker.scss";
@import "navbar-main-top.scss";
@import "footer.scss";
@import "container.scss";
@import "conditional-container.scss";
