@import "partials/variables";

.rbt {
    .rbt-token {
        border: 2px solid $button-accent;
        border-radius: $app-input-border-radius;
        padding: 0 .5em;
        margin: 3px 3px;
        white-space: nowrap;
        display: flex;

        &:focus {
            outline: none;
        }

        button {
            padding: 5px;
            height: 0;
            transform: translateY(50%);
            line-height: .1;
        }
    }

    .rbt-input-wrapper {
        display: inline-flex;
        flex-wrap: wrap;
        align-items: center;

        .rbt-input-main {
            // margin-top: 5px;
            text-align: initial;
        }
    }

    >.form-control {
        width: 100%;
        display: table;
    }

    ul {
        border-radius: 10px;
        box-shadow: 0 5px 5px #bfbfbf;
    }

    .rbt-input {
        border-radius: $app-input-border-radius;
    }

    .rbt-menu {
        .dropdown-item:hover {
            background-color: transparent;
        }

        li:not([role="separator"]) {
            min-height: 2em;
            box-shadow: 0 0 1px 1px #dcdcdc;

            span {
                min-height: 1em;
                white-space: normal;
            }

            &:hover {
                box-shadow: 0 0 6px 1px #dcdcdc;
            }
        }
    }
}

/* .typeahead:not(input) {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    background-color: white;
    border: 1px solid #CCC;
}

.typeahead li {
    line-height: 20px;
}

.typeahead a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 20px;
    color: #333;
    white-space: nowrap;
    text-decoration: none;
}

.typeahead .active > a {
    color: white;
    text-decoration: none;
    background-color: #0081C2;
    outline: 0;
}

.typeahead.hidden {
    display: none;
}
 */